body {
  font-family: monospace;
  margin: 0;
}

@font-face {
  font-family: "DCC-Ash";
  src: url("DCC-Ash.woff") format("woff");
}

/**************************barra superior*****************************/

.contenedor-cabecera {
  background-color: hsl(298, 100%, 83%);
}

.cabecera {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;

  align-items: center;
}

.mini-foto {
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  img {
    border-radius: 10% 20% 30% 50%;
    border: solid hsl(0, 0%, 100%) 1px;
    width: 100px;
    height: 100px;
  }
}

.lista-botones {
  overflow: hidden;
  height: 100%;
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0px;
}

.item-navegacion {
  display: flex;

  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.boton-link {
  text-transform: uppercase;
  color: white;
  font-size: 21px;
  padding: 10px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
}
.boton-link:hover {
  background-color: hsla(0, 0%, 0%, 0.5);
}

/*****************************banner*****************************/

.banner-inicio {
  background-image: url("../img/banner-inicio5.jpg");
  background-position: center top;
  background-size: cover;
}

.contenedor-banner {
  width: 90%;
  aspect-ratio: 2.35/1;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.banner-generativo {
  display: flex;
  min-height: 414px;
  align-items: center;
  background-image: url("../img/banner-generativo.jpg");
  background-position: center;
  background-size: cover;
}

.banner-procedural {
  display: flex;
  min-height: 414px;
  align-items: center;
  background-image: url("../img/banner-procedural.jpg");
  background-position: center;
  background-size: cover;
}

.banner-semiotica {
  display: flex;
  min-height: 414px;
  align-items: center;
  background-image: url("../img/banner-semiotica.jpg");
  background-position: center;
  background-size: cover;
}

.contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 135px;
    position: absolute;
  }
}

.texto-banner {
  background-color: hsla(298, 100%, 83%, 0.55);
  display: inline-block;
  aspect-ratio: 2.35/1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
  }
}

/********************************cuerpo*****************************/

main {
  padding-bottom: 10px;
  background-color: hsl(297, 100%, 92%);
}

.bloques-texto {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  section {
    border-top: 50px solid hsl(271, 76%, 53%);
    padding-bottom: 10px;
  }
  /* article {
  }*/
}

header {
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }
}

.subrayado {
  text-align: center;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 8px;
  span {
    display: inline-block;
    border-bottom: 8px solid hsl(271, 76%, 53%);
    padding-left: 10px;
    padding-right: 10px;
  }
}

.bloque-texto {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: white;
  font-size: 18px;
}

.contenedor-video {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  iframe {
    aspect-ratio: 16/9;
    width: 100%;
    display: inline;
  }
}

/**************************conocer mas*****************************/

.contenedor-cuadrados {
  width: 50%;
  aspect-ratio: 1/1;

  margin-left: auto;
  margin-right: auto;

  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.cuadrado {
  width: 45%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: gray;
  text-align: center;
  text-decoration: none;
}
.c-artimanias {
  font-family: "DCC-Ash";
  background-image: url("../img/cuadrado\ artimañas.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  font-size: x-large;
}
.c-artimanias:hover {
  background-position: top left;

  background-size: auto;
}

/*.texto-cita {
}*/

/*********************PIE DE PAGINA*********************/
.contenedor-footer {
  padding-top: 5px;
  background-color: hsl(271, 76%, 53%);
  * {
    color: white;
  }
}

.pie-pagina {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.titulo-contacto {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  span {
    display: inline-block;
    border-bottom: 8px solid white;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.contenido-pie {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-wrap: wrap;
  padding-bottom: 5px;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin-left: auto;
  margin-right: auto;

  * {
    font-size: larger;

    font-weight: 700;
  }
  p {
    margin-left: auto;
    margin-right: auto;

    margin-top: 15px;
    margin-bottom: 0px;
  }
  a {
    margin: 5px;
  }
}

.links-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
