body {
  font-family: monospace;
  margin: 0;
}

/**************************barra superior*****************************/

.contenedor-cabecera {
  background-color: rgb(252, 170, 255);
}

.cabecera {
  display: flex;
  height: 120px;
  width: 90%;
  /*border:1px solid  rgb(0, 0, 0);*/
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  flex-direction: row;
  justify-content: flex-end;
}

.lista-botones {
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0px;
}

.item-navegacion {
  display: flex;
}

.boton-link {
  text-transform: uppercase;
  color: white;
  font-size: 21px;
  padding: 44px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
}
.boton-link:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

.link-logo {
  margin-right: auto;
}

/*****************************banner*****************************/

.banner-inicio {
  background-image: url("../img/banner-inicio5.jpg");
  background-position: center top;
  background-size: cover;
}

.contenedor-banner {
  width: 90%;
  aspect-ratio: 2.35/1;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.banner-generativo {
  display: flex;
  min-height: 414px;
  align-items: center;
  background-image: url("../img/banner-generativo.jpg");
  background-position: center;
  background-size: cover;
}

.banner-procedural {
  display: flex;
  min-height: 414px;
  align-items: center;
  background-image: url("../img/banner-procedural.jpg");
  background-position: center;
  background-size: cover;
}

.banner-semiotica {
  display: flex;
  min-height: 414px;
  align-items: center;
  background-image: url("../img/banner-semiotica.jpg");
  background-position: center;
  background-size: cover;
}

.mini-foto {
  img {
    border-radius: 10% 20% 30% 50%;
    border: solid white 1px;
    width: 150px;
    height: 150px;
  }
}

.texto-banner {
  background-color: rgb(252, 170, 255, 0.55);
  display: inline-block;
  aspect-ratio: 2.35/1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
  }
}

/********************************cuerpo*****************************/

main {
  padding-bottom: 10px;
  background-color: rgb(253, 212, 255);
}

.bloques-texto {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  section {
    border-top: 50px solid blueviolet;
    padding-bottom: 10px;
  }
  article {
  }
}

header {
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }
}

.subrayado {
  text-align: center;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 8px;
  span {
    display: inline-block;
    border-bottom: 8px solid blueviolet;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.bloque-texto {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: white;
  font-size: 18px;
}

.contenedor-video {
  margin-left: auto;
  margin-right: auto;
  iframe {
    aspect-ratio: 16/9;

    width: 100%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
}

.texto-cita {
}
